language: php

php:
  - 7.2
  - 7.3
  - 7.4

install:
  - travis_retry composer install --no-interaction

script:
  - vendor/bin/php-cs-fixer --diff --dry-run --verbose fix .
  - vendor/bin/phpunit --coverage-clover clover.xml

after_script:
  - bash <(curl -s https://codecov.io/bash)
