name: PHP-CS-Fixer

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  run:
    runs-on: ubuntu-latest

    name: PER-CS

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: xdebug
          tools: php-cs-fixer, cs2pr
      - run: php-cs-fixer fix . --dry-run --rules=@PER-CS --format=checkstyle w | cs2pr
