name: PHP-CS-Fixer

on: [push, pull_request]

jobs:
  run:
    runs-on: ubuntu-latest

    name: PSR-12

    steps:
      - uses: actions/checkout@v3
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          coverage: xdebug
          tools: php-cs-fixer, cs2pr
      - run: php-cs-fixer fix . --dry-run --rules=@PSR12 --format=checkstyle | cs2pr
