name: PHPUnit

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  run:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.1, 8.2, 8.3, 8.4, 8.5]
        extension: [':bcmath', ':gmp']

    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v6
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: xdebug
          extensions: ${{ matrix.extension }}
      - run: composer install --prefer-dist --no-interaction
      - run: vendor/bin/phpunit --coverage-text
